.panel-list
	color #777
	border none
	border-left 20px solid #eee
	margin 20px 0
	padding-left 20px
	transition-property border-left
	transition-duration .2s
.panel-list:hover
	color: #062f3c
	font-weight bold
	border-left 10px solid #062f3c
	cursor pointer
.heading-home
	font-weight bold
	color #777
	border-bottom 1px solid #eee
	//border-radius 3px
	text-align center
	line-height 20px
	//box-shadow: 1px 1px