@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
#cart-items
	color #cc7a00
.cart-lbl
	font-size 10px
	font-weight normal
	text-align left
	padding-bottom 5px
	border-bottom 1px solid #eee
	margin-bottom 10px
	color #cc7a00

.total-lbl
	font-size 13px
	font-weight bold
	text-align right
	margin-bottom 10px
	color #555
.total-value
	font-size 14px
	font-weight normal
	margin-bottom 10px
	color #888
.sub-total-lbl
	border-top 2px dotted #eee
	padding-top 15px
.left
	text-align left
#grand
	font-family 'Slabo'
	font-weight normal
	color #062f3c
#qty
	text-align center
.cart-items
	//border 1px solid red
	font-size 10px
	text-align left
	margin-bottom 5px
	display block
	height 30px
#remove-item
	cursor pointer
	color #999
.all-items-div
	height 100px
	overflow auto
#empty-cart
	font-size 6em
	margin 0 40px
	color #eee
.empty-cart
	text-align center
