template(name="cart")
	H6.heading-home CART
		i.fa.fa-flag#insertProduct
	div.row-fluid
		div.col-xs-2.cart-lbl QTY
		div.col-xs-4.cart-lbl ITEM
		div.col-xs-4.cart-lbl PRICE
		div.col-xs-2.cart-lbl X
	+each cartItems
		div.row-fluid
			div.col-xs-2.cart-items#qty #{qty}
			div.col-xs-4.cart-items #{name}
			div.col-xs-4.cart-items
				i.fa.fa-dollar #{price}
			div.col-xs-2.cart-items
				i.fa.fa-minus-circle#remove-item

