light-gray=#eee

.container-fluid
	height: 100% !important
.categories
	height: 80vh
	border-right: 3px solid light-gray
	//border-bottom 1px solid light-gray
.products
	height: 80vh
	background-color: #fff
	color: #ccc
	text-align: center
	//border-bottom 1px solid light-gray
.cart
	height: 80vh
	border-left: 3px solid light-gray
	//border-bottom 1px solid light-gray