.container-fluid
	height: 100% !important
.menu
	height: 80vh
	border-right: 3px solid #ccc
.products
	height: 80vh
	background-color: #fff
	color: #ccc
	text-align: center
.white
	color: #ccc
	height: 60px
	border: 1px solid #ccc
	text-align: center
.cart
	height: 80vh
	border-left: 3px solid #ccc
