core-color = #062f3c
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
#topbar
	background-color core-color
	border-radius 0
	border none
#brand
	font-weight bold
	color #cc7a00
	line-height 2.3em
	cursor pointer
.header
	width 100%
.user-name
	color #ccc
	margin-top 16px
	font-family 'Open Sans'
	font-weight 100
#sqre
	color #db4437
#sign-in
	margin-top 12px
	cursor pointer
#log-out
	margin-top 12px
	cursor pointer
