core-color = #062f3c
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
#topbar
	background-color core-color
	border-radius 0
	border none
	box-shadow 0px 5px 5px #777
#brand
	font-weight bold
	//color #cc7a00
	color #eee
	line-height 2.3em
	cursor pointer
.header
	width 100%
.user-name
	color #ccc
	margin-top 16px
	font-family 'Open Sans'
	font-weight 100
.cart-icon
	color #ccc
	margin-top 18px
	padding 0px
.cart-items-count
	margin-top 17px
	background-color #666
	color #eee
	width 60px
	height 20px
	line-height 1.5em
	cursor pointer
#sqre
	color #db4437
#sign-in
	margin-top 12px
	cursor pointer
#log-out
	margin-top 12px
	cursor pointer
.logged-out
	background-color #333
	color #ff3322
	font-weight bolder
.logging-in
	background-color #333
	color #34bf49
	font-weight bolder
	
	
