template(name="products")
	H6.heading-home PRODUCTS
	div.row-fluid
		div.col-xs-4.product-div
			div.item-div
				div.product-img
				div.product-detail #001 NAME
					strong $439.99
		div.col-xs-4.product-div
			div.item-div
				div.product-img
				div.product-detail #001 NAME
					strong $439.99
		div.col-xs-4.product-div
			div.item-div
				div.product-img
				div.product-detail #001 NAME
					strong $439.99
