.product-div
	color #ccc
	height auto
	//border 1px solid #ccc
	text-align center
	padding 20px
.item-div
	background-color #ccc
	height 270px
	border-radius 3px
	transition-property background-color
	transition-duration 0.8s
.item-div:hover
	background-color #666
.product-img
	background-color #062f3c
	height: 230px
	border-radius 3px 3px  0 0
	border-bottom 3px solid #cc7a00
.product-detail
	vertical-align middle
	height 40px
	border-radius 0 0 3px 3px