template(name="products")
	H6.heading-home #{getCat}
	div.row-fluid.product-row

		+each getProducts
			div.col-md-4.col-sm-6.col-xs-8.product-div
				div.item-div
					div.product-img
					div.product-detail
						div.col-xs-4.product-lbl
							i.fa.fa-dollar #{price}
						div.col-xs-8.product-lbl.product-name #{name}
					div.row-fluid.product-material
						i.fa.fa-cube.material-icon  &nbsp; steel, leather
					div.row-fluid.product-widgets
						div.col-xs-6 
							i.fa.fa-bookmark-o.fa-x1.product-icon#add-to-watchlist
						div.col-xs-6 
							i.fa.fa-shopping-cart.product-icon#add-to-cart