template(name="products")
	H6.heading-home #{getCat}
	div.row-fluid
		+each getProducts
			div.col-xs-4.product-div
				div.item-div
					div.product-img
					div.product-detail
						div.col-xs-3
							i.fa.fa-bookmark.fa-2x.product-icon
						div.col-xs-6
						div.col-xs-3
							i.fa.fa-plus.fa-2x.product-icon



		div.col-xs-4.product-div
			div.item-div
				div.product-img
				div.product-detail #001 NAME
					strong $439.99
		div.col-xs-4.product-div
			div.item-div
				div.product-img
				div.product-detail #001 NAME
					strong $439.99
