.product-div
	color #ccc
	height auto
	//border 1px solid #ccc
	text-align center
	padding 10px
	cursor pointer
.item-div
	background-color #ccc
	height 320px
	border-radius 3px
	transition-property background-color
	transition-duration 0.8s
.item-div:hover
	background-color #666
.product-img
	background-color #062f3c
	height: 250px
	border-radius 3px 3px  0 0
	border-bottom 3px solid #cc7a00
.product-detail
	vertical-align middle
	height 70px
	border-radius 0 0 3px 3px
	color #062f3c
.product-save
	border 1px solid red
	height 70px
.product-icon
	line-height 2.5em
	color #ccc
.product-info
	border 1px solid red
	height 70px
.product-add
	border 1px solid red
	height 70px

